@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#8e44ad;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}
section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   cursor: pointer;
}

.btn:hover{
   background: var(--main-color);
}
.login-form-container{
   position: fixed;
   top:-120%; left: 0;
   z-index: 10000;
   min-height: 100vh;
   width:100%;
   background:rgba(0,0,0,.7);
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .login-form-container.active{
   top:0;
 }
 
 .login-form-container form{
   margin:2rem;
   padding:1.5rem 2rem;
   border-radius: .5rem;
   background:#fff;
   width:50rem;
 }
 
 .login-form-container form h3{
   font-size: 3rem;
   color:#444;
   text-transform: uppercase;
   text-align: center;
   padding:1rem 0;
 }
 
 .login-form-container form .box{
   width:100%;
   padding:1rem;
   font-size: 1.7rem;
   color:#333;
   margin:.6rem 0;
   border:.1rem solid rgba(0,0,0,.3);
   text-transform: none;
 }
 
 .login-form-container form .box:focus{
   border-color: var(--orange);;
 }
 
 .login-form-container form #remember{
   margin:2rem 0;
 }
 
 .login-form-container form label{
   font-size: 1.5rem;
 }
 
 .login-form-container form .btn{
   display: block;
   width:100%;
 }
 
 .login-form-container form p{
   padding:.5rem 0;
   font-size: 1.5rem;
   color:#666;
 }
 
 .login-form-container form p a{
   color:var(--orange);
 }
 
 .login-form-container form p a:hover{
   color:#333;
   text-decoration: underline;
 }
 
 .login-form-container #login-Close{
   position: absolute;
   top:2rem; right:3rem;
   font-size: 5rem;
   color:#fff;
   cursor: pointer;
 }
 .registration-form-container{
   position: fixed;
   top:-120%; left: 0;
   z-index: 10000;
   min-height: 100vh;
   width:100%;
   background:rgba(0,0,0,.7);
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .registration-form-container.active{
   top: 0;
 
 }
 .registration-form-container form{
   margin:2rem;
   padding:1.5rem 2rem;
   border-radius: .5rem;
   background:#fff;
   width:50rem;
 
 }
 .registration-form-container form h3{
   font-size: 3rem;
   color:#444;
   text-transform: uppercase;
   text-align: center;
   padding:1rem 0;
 }
 
 .registration-form-container form .box{
   width:100%;
   padding:1rem;
   font-size: 1.7rem;
   color:#333;
   margin:.6rem 0;
   border:.1rem solid rgba(0,0,0,.3);
   text-transform: none;
 }
 
 .registration-form-container form .box:focus{
   border-color: var(--orange);;
 
 }
 
 .registration-form-container #register-Close{
   position: absolute;
   top:2rem; right:3rem;
   font-size: 5rem;
   color:#fff;
   cursor: pointer;
 }
 .heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}

.header .logo{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
}

.header .navbar a{
   text-transform: capitalize;
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--black);
}

.header .navbar a:hover{
   color:var(--main-color);
}
